@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

.body {
  background-color: #4a1942;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.hero-text {
  color: #eaeaea;
  background-color: #4a1942;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 3.5rem;
  font-family: "Rock Salt", cursive;
}

.articles {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3rem;
  justify-content: center;
  align-items: center;
  width: 50vw;
  padding: 2rem;
  margin: auto;
}

img {
  width: 30vw;
  height: 30vh;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
li {
  list-style-type: none;
}
.article_item {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 60vh;
}

.font {
  font-family: "Aclonica", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 4rem;
  color: #863168;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 25px;
  background-color: #863168;
  color: #eaeaea;
  padding: 0.5rem;
}
.description {
  background-color: #2e1c2b;
  padding: 1rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #eaeaea;
}
.date {
  font-style: italic;
  font-size: 1rem;
}
.description-text {
  font-family: "Zen Loop", cursive;
  font-size: 1.3rem;
}
.sources {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3rem;
  background-color: #2e1c2b;
  padding: 2rem;
}
.source-item {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 30vh;
  background-color: #863168;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}
.header {
  text-align: center;
  color: #eaeaea;
  animation: header 1s ease-in-out infinite alternate;
  font-size: 5rem;
  font-family: cursive;
}
.source-btn{
  background-color: #2e1c2b;
  color: #eaeaea;
  padding: 0.5rem;

}

.source-name {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Aclonica", sans-serif;
  color: #4a1942;
}
.source-description {
  color: #eaeaea;
}
.category {
  color: #2e1c2b;
  font-family: "Rock Salt", cursive;
}

@keyframes header {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #863168,
      0 0 40px #863168, 0 0 50px #863168, 0 0 60px #863168, 0 0 70px #863168;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #2e1c2b, 0 0 40px #2e1c2b,
      0 0 50px #2e1c2b, 0 0 60px #2e1c2b, 0 0 70px #2e1c2b, 0 0 80px #2e1c2b;
  }
}