{% block styles %} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
{% endblock %} {% block content %}
<div>
  <h1>The NewsBuzz</h1>
</div>
<section class="articles">
  <ul>
    {% for article in articles %}
    <li>
      <div class="image">
        <img src="{{ article.urlToImage }}" alt="" />
      </div>
      <div class="description">
        <p>{{ article.description }}</p>
        <p>Posted on: {{ article.publishedAt }}</p>
        <h3>
          <a href="{{ article.url }}" target="_blank"
            ><button class="btn btn-primary">View Article</button></a
          >
        </h3>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
<section>
  <ul>
    {%for source in sources%}
    <li>
      <div>
        <h3>hello source 1</h3>
      </div>
      <div>
        <p>{{ source.name }}</p>
      </div>
      <div>
        <p>{{source.description}}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
